@font-face {
    font-family: playright;
    src: url(fonts/playright.ttf);
}
h1 {
font-family: playright;
font-size: 40px;
}


body {
    margin: 10px;
    background-color: #5DA232;
    color: #ffffff;
}
nav 
{
font-family: playright;
color: #fff
}

nav2 
{
font-family: playright;
color: #fff
}


#banner{
 width: 99.5%;
 height: 250px;
 background-image: url(images/arepas-banner2.png);
 background-repeat: no-repeat;
 background-size: cover;
}
#buttons{
text-align: center;
}

button {
border: none;
background-color: #F8C700;
color: white;
font-size: 20px;
font-family: playright;
padding: 10px 10px 10px 10px;
margin: 20px

}

nav{
width: 99.5%;
height: 65px;
margin-top: 30px;
background-color: #2C7209;
}
nav2{
width: 99.5%;
height: 65px;
background-color: #2C7209;
}

nav ul li{
font-size: 30.5px;
list-style-type: none;
float: left;
}

a{
color: white;
text-decoration: none;
margin: 50px;
}

nav2 a{
color: white;
text-decoration: none;
margin: 50px;
}

a:hover{
color: #5DA232
}

input[type=text] {
  width: 30%;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #2C7209;
}
input[type=reset] {
  width: 10%;
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #2C7209
}
input[type=submit] {
  width: 10%;
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #2C7209
}
p{
font-size: 25px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button-class {
			background-color: #4CAF50;
			/* Green */
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 4px;
		}
